---
import { BaseLayout } from '@rkn/base-components'
import {
  TwoColumn,
  markedHelper,
  Header,
  fetchFilterPopulate,
  TwoColumnImageDiv,
  ProfileCard,
  parseDate,
} from '@rkn/page-components'

const { page } = Astro.params
const pageData = await fetchFilterPopulate(`/api/standards`, page, [])
console.log(pageData.data)
const standard = pageData.data[0].attributes
---

<BaseLayout title={standard.title}>
  <Header headerTitle={standard.title} />
  <div class="outer">
    <div class="wrapper">
      <article class="standardBody" set:html={markedHelper(standard.body)} />
      <div class="metaDetails">
        {
          standard.dateEffective && (
            <p>
              <span class="detail">Effective since:</span>
              {parseDate(standard.dateEffective)}
            </p>
          )
        }
        <p>
          <span class="detail">Last edited:</span>
          {parseDate(standard.updatedAt)}
        </p>
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  div.outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 80px;
    background: var(--light);
  }
  div.wrapper {
    background: white;
    margin: auto;
  }
  article,
  div.metaDetails {
    max-width: 750px;
    margin: 2rem 40px;
  }
  div.metaDetails {
    width: fit-content;
  }
  @media (max-width: 1024px) {
    div.outer {
      padding: 2rem 60px;
    }
  }
  @media (max-width: 600px) {
    div.outer {
      padding: 0;
      margin: 1.5rem 30px;
      background: white;
    }
    html {
      background: none;
    }
    article,
    div.metaDetails {
      margin: 0;
      margin: 1rem 0;
    }
  }
</style>
<!--DOCUMENT BODY STYLES-->
<style is:global>
  article.standardBody * {
    color: var(--gunmetal);
  }

  article.standardBody h2 {
    font-size: clamp(26px, 20.537px + 0.597vw, 32px);
    color: var(--primary-color);
    margin-bottom: 5px;
    text-transform: uppercase;
    margin-top: 2rem;
  }

  article.standardBody h2:first-of-type {
    margin-top: 0;
  }

  article.standardBody h2 ~ p {
    line-height: 150%;
    margin: 0 0 15px 0;
  }

  article.standardBody ul {
    margin: 0 auto 0 auto;
  }

  article.standardBody h3 {
    color: var(--primary-color);
    margin-left: 20px;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
  }

  article.standardBody h3 ~ p {
    margin-left: 20px;
  }
  article.standardBody h3 ~ ul {
    margin-left: 40px;
  }

  article.standardBody h4 {
    /* Always nest in an ordered list */
    color: var(--primary-color);
    margin-left: 40px;
    margin-top: 0.8rem;
    margin-bottom: 0.3rem;
  }

  article.standardBody h4 ~ p {
    margin-left: 40px;
  }

  article.standardBody h4 ~ ul {
    margin-left: 60px;
  }

  article.standardBody h4 ~ ul > li {
    list-style: none;
  }

  article.standardBody li {
    margin-bottom: 1rem;
  }
  article.standardBody li ul {
    padding-top: 1rem;
  }
  article.standardBody ul ul li {
    margin-left: 20px;
  }
  div div.metaDetails {
    width: 100%;
    margin-top: 1rem;
    padding-top: 0.6rem;
    border-top: 1px dotted var(--gunmetal);
  }
  div.metaDetails p {
    width: 100%;
    text-align: left;
    color: var(--gunmetal);
  }
  span.detail {
    font-family: var(--bold);
  }
</style>
