---
import { BaseLayout } from '@rkn/base-components'
import {
  Header,
  strapiAsset,
  markedHelper,
  fetchFilterPopulate,
} from '@rkn/page-components'

export async function getStaticPaths() {
  const pages = await fetch(
    `${import.meta.env.STRAPI_HOST}/api/profiles?filters[websites][key][$eq]=${
      import.meta.env.THIS_SITE
    }`
  ).then((res) => res.json())
  return pages.data.map((page) => ({ params: { page: page.attributes.slug } }))
}

const { page } = Astro.params
const pageData = await fetchFilterPopulate(`/api/profiles`, page, [
  'header.headerImage',
  'portrait',
])

const provider = pageData.data[0].attributes
const header = provider.header
const portrait = provider.portrait

let { url, width, height } = portrait.data.attributes.formats.small
---

<BaseLayout title={provider.title}>
  <div class="outer">
    <Header {...header} subtitle={provider.date} />
    <div class="inner">
      <h2>{provider.name}</h2>
      <h3>{provider.title}</h3>
      <img src={strapiAsset(url)} width={width / 1.5} height={height / 1.5} />
      <article set:html={markedHelper(provider.bio)} />
      <a href=`mailto:${provider.email}`>{provider.email}</a>
    </div>
  </div>
</BaseLayout>
<style>
  div.outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  div.inner {
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
    max-width: 700px;
    flex-grow: 0;
    text-wrap: wrap;
  }
  div.flex-row {
    display: flex;
    gap: 50px;
    justify-content: center;
  }
  section {
    max-width: 700px;
    padding-bottom: 1rem;
  }
  img {
    float: right;
  }
</style>
