---
import { parseDate, strapiAsset } from '../util'
const props = Astro.props
const event = props.event.data.attributes
const imageCaption = event.featureImage?.caption ?? ''
const { url, width, height } = event.featureImage?.image?.data?.attributes
  ?.formats?.small ?? {
  url: '/uploads/small_Sermon_Image_Background_ed63796e21.png',
  width: 208,
  height: 156,
}
const imageSide = props.imageSide
let direction
imageSide == 'left' ? (direction = 'row-reverse') : (direction = 'row')
---

<div class="container">
  <div class="text">
    <div class="wrapper">
      <h2><span>Featured Event:</span> {event.title}</h2>
      <div class="flex">
        <p><strong>When:</strong> {parseDate(event.date)}</p>
        <p><strong>Where:</strong> {event.venue}</p>
      </div>
      <p>{event.oneLiner}</p>
      <a href=`/events/${event.slug}`>Find out more!</a>
    </div>
  </div>
  <div class="image">
    <img
      src={strapiAsset(url)}
      width={width}
      height={height}
      alt={imageCaption}
    />
  </div>
</div>

<style define:vars={{ direction }}>
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex p {
    margin: 0 20px;
  }
  .container {
    display: flex;
    width: 100vw;
    flex-direction: var(--direction);
  }
  .wrapper {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text {
    width: 66vw;
  }
  .image {
    width: 33vw;
    margin-left: auto;
  }
  span {
    font-family: var(--bold);
  }
  @media (max-width: 1024px) {
    .text,
    .image {
      width: 50vw;
    }
  }
  @media (max-width: 640px) {
    .container {
      flex-direction: column;
    }
    .text,
    .image {
      width: 100vw;
    }
  }
</style>
