---
import { markedHelper, strapiAsset, site } from '../util.js'

const props = Astro.props
const { title, oneLiner, date, profiles, featureImage, slug } =
  props?.post?.data?.attributes ?? props?.post?.attributes ?? props.post
const { caption } = featureImage ?? ''
const { url, width, height } = featureImage?.image?.data?.attributes?.formats
  ?.small ?? {
  url: '/uploads/small_Sermon_Image_Background_ed63796e21.png',
  width: 208,
  height: 156,
}
let prefix
site() === 'livinggracedianella' ? (prefix = '/posts/') : (prefix = '/blog/')
---

<article>
  <h2>Featured Post: <a href={prefix + slug}>{title}</a></h2>
  <p>{profiles.data.map((p) => p.attributes.name)}</p>
  <img src={strapiAsset(url)} width={width} height={height} alt={caption} />
  <div>{date}</div>
  <div set:html={markedHelper(oneLiner)} />
</article>

<style>
  h2 a {
    font-size: var(--font-size-h2);
  }
</style>
