---
import { strapiAsset } from '@rkn/page-components'
const { message } = Astro.props
const { title, date, slug, providers, feature_image, soundcloud_recording } =
  message.data.attributes
const { caption } = feature_image
const { url, width, height } = feature_image.image.data.attributes.formats.small
const embedCode = soundcloud_recording.embed_code
const iframeUrl = embedCode
  ?.match(`src="([^"]+)"`)?.[1]
  .replace('visual=true', 'visual=false')
---

<div>
  <h2>Featured Message: <a href={`/messages/${slug}/`}>{title}</a></h2>
  <p>{date}</p>
  <p>{providers.data.map((p) => p.attributes.name)}</p>
  <img src={strapiAsset(url)} width={width} height={height} alt={caption} />
  <div class="soundcloud">
    <iframe
      width="100%"
      height="200"
      scrolling="no"
      frameborder="no"
      allow="autoplay"
      src={iframeUrl}></iframe>
  </div>
</div>

