---
import { markedHelper } from '../util'
import { strapiAsset } from '../util'
import Grid from '../layout-components/Grid.astro'
const { title, overview, gatherings, cardImage } = Astro.props
const firstItemSpan = ((3 - (gatherings.data.length % 3)) * 2).toString()
const imageUrl = `url(${strapiAsset(
  cardImage?.data?.attributes?.formats?.small?.url ??
    '/uploads/small_Alpha_Lifeshared_CANADA_18_4_1905609_tomgphoto_be076bc705.jpg'
)})`
---

<Grid>
  <a class="card" href="/gatherings">
    <div class="backgroundColour">
      <div class="inner first"></div>
      <div class="firstText">
        <h2>{title}</h2>
        <div class="gatheringDetails" set:html={markedHelper(overview)} />
      </div>
    </div>
  </a>
  {
    gatherings.data.map((gathering) => (
      <a class="card" href={`/gatherings/${gathering.attributes.slug}`}>
        <div class="inner">
          <h3>{gathering.attributes.title}</h3>
          <div class="details">
            {gathering.attributes.timeSlot && (
              <span class="gathering-detail">
                {gathering.attributes.timeSlot}
              </span>
            )}
            {gathering.attributes.location && (
              <span class="gathering-detail">
                {gathering.attributes.location}
              </span>
            )}
          </div>
          <p>{gathering.attributes.oneLiner}</p>
        </div>
      </a>
    ))
  }
</Grid>
<style define:vars={{ firstItemSpan, imageUrl }}>
  :root {
    --grid-card-padding: 2.5rem 25px 2rem 25px;
  }
  div.inner {
    background: var(--light);
    padding: var(--grid-card-padding);
    height: 100%;
  }
  :global(div.gatheringDetails *) {
    font-size: var(--font-size-hero-p);
  }
  div.inner * {
    color: var(--gunmetal);
  }
  div.backgroundColour {
    background-color: var(--primary-color);
    height: 100%;
    position: relative;
    z-index: -2;
  }
  div.first {
    position: absolute;
    z-index: -1;
    background-image: var(--imageUrl);
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    mix-blend-mode: multiply;
    height: 100%;
    width: 100%;
  }
  div.firstText {
    position: relative;
    z-index: 1;
    padding: var(--grid-card-padding);
  }
  div.firstText * {
    color: white;
  }
  .gathering-detail:not(:last-of-type)::after {
    content: '|';
  }
  div.details {
    margin-top: 0.2rem;
  }
  .gathering-detail {
    font-size: var(--font-size-h5);
    font-family: var(--italic);
  }
  div.inner h3 {
    color: var(--primary-color);
  }
  div.inner p {
    line-height: 140%;
  }
  h2 {
    font-size: calc(36rem / 16);
  }
  h2,
  h3 {
    margin-top: 0;
    line-height: 110%;
  }
  a.card {
    text-decoration: none;
    color: inherit;
    height: 100%;
    transition: 0.25s;
    grid-column: span 2;
  }
  a.card:first-of-type {
    grid-column: span var(--firstItemSpan);
  }
</style>
