---
const { title, overview, gatherings } = Astro.props
const firstItemSpan = (3 - (gatherings.data.length % 3)).toString()
---

<div class="grid-wrapper">
  <div class="inner first">
    <h2>{title}</h2>
    {overview}
  </div>
  {
    gatherings.data.map((gathering) => (
      <div class="inner">
        <h3>{gathering.attributes.title}</h3>
        <h4>
          {gathering.attributes.time_slot && (
            <span class="gathering-detail">
              {gathering.attributes.time_slot}
            </span>
          )}
          {gathering.attributes.location && (
            <span class="gathering-detail">
              {gathering.attributes.location}
            </span>
          )}
        </h4>
        <p>{gathering.attributes.short_description}</p>
        <a class="cta" href={gathering.attributes.slug}>
          Find out more
        </a>
      </div>
    ))
  }
</div>
<style define:vars={{ firstItemSpan }}>
  div.grid-wrapper {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 40px;
    width: 100vw;
    background: #f1f1f1;
  }
  div.inner {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: #ffffff;
    padding: 20px;
    box-shadow: 1px 1px 1px #51534a;
  }
  div.first {
    grid-column: span var(--firstItemSpan);
  }
  .gathering-detail:not(:last-of-type)::after {
    content: '|';
  }
  h4 {
    font-family: var(--italic);
  }
  .cta {
    margin-top: auto;
  }
  h2,
  h3 {
    margin-top: 0;
  }
  @media (max-width: 1024px) {
    div.grid-wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (max-width: 640px) {
    div.grid-wrapper {
      grid-template-columns: 1fr;
    }
  }
</style>
