---
import { markedHelper, strapiAsset } from '../util.js'

const props = Astro.props
const { title, oneLiner, date, profiles, featureImage, slug } =
  props?.post?.data?.attributes ?? props?.post?.attributes ?? props.post
const { caption } = featureImage
const { url, width, height } = featureImage.image.data.attributes.formats.small
---

<article>
  <h2>Post: <a href={'/posts/' + slug}>{title}</a></h2>
  <p>{profiles.data.map((p) => p.attributes.name)}</p>
  <img
    src={strapiAsset(url)}
    width={width / 2}
    height={height / 2}
    alt={caption}
  />
  <div>{date}</div>
  <div set:html={markedHelper(oneLiner)} />
</article>

<style>
  h2 a {
    font-size: var(--font-size-h2);
  }
</style>
