---
let { title, overview, profiles, href } = Astro.props
import {
  fetchPopulate,
  ProfileCard,
  Grid,
  GridFeatureCard,
} from '@rkn/page-components'
if (!profiles?.data?.[0]) {
  profiles = await fetchPopulate('/api/profiles', ['portrait'])
}
let length = profiles.data.length
profiles.data.forEach((profile) => {
  if (profile.attributes.slug == Astro.params.page) {
    length -= 1
  }
})
let link
if (href == 'false') {
  link = ''
} else if (href) {
  link = href
} else {
  link = '/about-us#our-people'
}
---

<div id="our-people"></div>
<Grid>
  <GridFeatureCard
    length={length}
    title={title}
    overview={overview}
    href={link}
  />
  {
    profiles.data.map((profile) => {
      let bio = profile.attributes?.bio ?? ''
      if (profile.attributes.slug === Astro.params.page) {
        return
      }
      return <ProfileCard profile={profile} />
    })
  }
</Grid>
