---
import BaseLayout from '../../layouts/LivingGraceBaseLayout.astro'
import { Header } from '@rkn/page-components'
import qs from 'qs'
import { markedHelper } from '@rkn/page-components'

export async function getStaticPaths() {
  const pages = await fetch(
    `${import.meta.env.STRAPI_HOST}/api/gatherings`
  ).then((res) => res.json())
  return pages.data.map((page) => ({ params: { page: page.attributes.slug } }))
}
const { page } = Astro.params
const pageData = await fetch(
  `${import.meta.env.STRAPI_HOST}/api/gatherings?${qs.stringify({
    filters: {
      slug: {
        $eq: page,
      },
    },
    populate: ['header.header_image'],
  })}`
).then((res) => res.json())
const gathering = pageData.data[0].attributes
const header = gathering.header
---

<BaseLayout title={gathering.title}>
  <div class="outer">
    <Header {...header} subtitle={gathering.soul_value} />
    <class="inner">
      <p>{gathering.short_description}</p>
      <div class="flex-row">
        <h3>{gathering.time_slot}</h3>
        <h3>{gathering.location}</h3>
      </div>
      <section set:html={markedHelper(gathering.full_description ?? '')} />
    </class="inner">
  </div>
</BaseLayout>
<style>
  div.outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  div.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    flex-grow: 0;
    text-wrap: wrap;
  }
  div.flex-row {
    display: flex;
    gap: 50px;
    justify-content: center;
  }
  section {
    max-width: 700px;
    padding-bottom: 1rem;
  }
</style>
