---
import { formatDistance, format } from 'date-fns'
import { marked } from 'marked'
import Grid from './Grid.astro'
export interface Props {
  provider: object
}
const { provider } = Astro.props
const {
  attributes: {
    name,
    title,
    bio,
    portrait: {
      data: [portrait],
    },
    services: { data: services },
    posts: { data: posts },
  },
} = provider || {}
const {
  attributes: { url },
} = portrait || {}
const imageUrl = url
  ? `http://localhost:1337${url}`
  : 'https://via.placeholder.com/120'
const introStyles = () => {
  return `width: 100vw; padding: 30px 0px; display: flex; flex-direction: column; text-align: center; align-items: center;`
}
---

<div style="position: relative; text-align: center">
  <div style={introStyles()}>
    <div
      class="author"
      style="display: flex; flex-direction: column; align-items: center;"
    >
      <img class="author-image" src={imageUrl} alt="Author Photo" />

      <h1 style="text-align: center; color: #00629B;">{name}</h1>
      <div style="max-width: 400px;">
        {bio}
      </div>
    </div>
  </div>
  <Grid class="layout-2-1-1-2">
    <div class="column-2-3">
      <h2>Services</h2>
      <ul>
        {
          Object.values(services).map(({ attributes: service }, index) => (
            <li>
              <>
                <span class="item-name">{service.name}</span>
                <br />
              </>
              <div class="item-body">{service.description}</div>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="column-3-4">
      <h2>Posts</h2>
      <ul>
        {
          Object.values(posts).map(({ attributes: post }, index) => (
            <li>
              <>
                <span class="item-name">{post.title}</span>
                <br />
              </>
              <div class="item-body">{post.body}</div>
            </li>
          ))
        }
      </ul>
    </div>
  </Grid>
</div>
<style>
  * {
    --user-font: 'Magallanes';
  }

  .highlight {
    font-weight: 700;
    font-size: 150%;
  }
  li {
    margin-bottom: 1rem;
  }

  .item-name {
    font-weight: 700;
  }

  .item-body {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  @media screen and (min-width: 48em) {
    .layout-2-1-1-2 {
      grid-template-rows: 180px auto auto;
    }
    .grid.layout-2-1-1-2 {
      margin: 0 2vw;
      gap: 3.5vh 3.25vw;
    }
  }
</style>
